.instr_box {
  width: 680px;
}
.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.game h2 {
  text-align: center;
  font-size: 35px;
  color: var(--mainclr);
  margin-bottom: 16px;
  font-weight: 325;
  letter-spacing: 5px;
  text-shadow: 2px 3px 4px var(--shadow);
}
.game h3 {
  text-align: center;
  font-size: 25px;
  color: var(--mainclr);
  margin-bottom: 16px;
  font-weight: 305;
  letter-spacing: 2px;
}
.game h4 {
  text-align: center;
  font-size: 20px;
  color: var(--mainclr);
  margin-bottom: 24px;
  font-weight: 305;
  letter-spacing: 2px;
}
.puzzlebox {
  margin: 3px auto;
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.puzzlerow {
  display: flex;
  gap: 2px;
}
.puzzlerow .btn {
  background-color: var(--bkcgcolor);
  width: 50px;
  height: 50px;
  border-radius: 8px;
  border: 1px solid var(--mainclr);
  font-size: 16px;
  color: var(--mainclr);
}
.btnfinal {
  padding: 10px 15px;
  border: 2px solid var(--mainclr);
  background-color: var(--bkcgcolor);
  color: var(--mainclr);
  font-weight: 300;
  font-size: 18px;
  letter-spacing: 1px;
  border-radius: 12px;
  margin: 25px auto;
}
.btnfinal:hover {
  transform: scale(1.1);
  transition: 1s;
  cursor: pointer;
}
