.instr_box {
  width: 570px;
}
.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading_box {
  text-align: center;
  font-size: 30px;
  color: var(--mainclr);
  margin-bottom: 12px;
  font-weight: 250;
  letter-spacing: 3px;
}
.tictacbox {
  width: 210px;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
}
.tttrow {
  display: flex;
}
.btn {
  background-color: var(--bkcgcolor);
  width: 70px;
  height: 70px;
  font-size: 22px;
  color: var(--mainclr);
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn_top {
  border-bottom: 1px solid var(--mainclr);
}
.btn_bottom {
  border-top: 1px solid var(--mainclr);
}
.btn_right {
  border-right: 1px solid var(--mainclr);
}
.btn_left {
  border-left: 1px solid var(--mainclr);
}

.restart_btn {
  width: 150px;
  margin-top: 10px;
  padding: 10px;
  background-color: var(--bkcgcolor);
  color: var(--mainclr);
  border: 2px solid var(--shadow);
  border-radius: 22px;
  font-size: 15px;
  letter-spacing: 4px;
  font-weight: 200;
}
.restart_btn:hover {
  transform: scale(1.05);
  transition: 1s;
  cursor: pointer;
}
